

textarea, select, input, button { outline: none; }

body {
  font-family: sans-serif;
  background-color: rgb(12, 11, 12);
  margin: 0;
  padding: 0;
}

.fullpage{
  min-height: 100vh;
  min-width: 100%;  
}


input{
  background-color: rgb(41, 38, 41);
  color: aliceblue;
  border: 0rem;
  font-size: 1.1rem;
  padding: 0.2rem;
}


.message{
  color: aliceblue;
  font-size: 1.1rem;
  padding: 0.2rem;
  margin: 0rem;
}

.button-color{
  color: white;
  background-color: rgb(12, 11, 12);
  font-size: 0.7rem;
}

.status-info{
  margin-block-start: 0rem;
  margin-left: 0.8rem; 
  font-size: 1rem;
}


.button-cancel{
  color: white;
  background-color:  rgb(12, 11, 12);
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.header{
  color: aliceblue;
  display: flex;
  flex-direction: row;
  margin: 1rem;
}